<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Profile</title>
	<style type ="text/css" >
	   .footer{ 
	       position: fixed;         
	       bottom: 5px;
	   }  
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var username = '<%= username %>';

		function connectionFunction() {
			$.get('/getusername', function(data) {
		      var personalSocket = io.connect('/' + data);
		      personalSocket.on('chat notification', function(sender, sessionID, chatID) {
		          document.getElementById('notif').innerHTML = 
		          	'<a href=\'\\joinchat?sessionID='+sessionID+'&chatID='+chatID+'\'>'+sender+' has invited you to join a chat. Click to join</a>'; 
		      });
			});
		};

		function loadProfile(username) {
			var uname = username;
			$.post('/otheruserdata', {username: uname}, function(data) {
				if (data === "ERROR") {
					console.log("There was an error");
				} else {
					data = JSON.parse(data);
					var profile_data = data.data;
					var friends = JSON.parse(profile_data.friends);
					var username = data.username;
					var me = data.me;
					document.getElementById("user").innerHTML = username;
					document.getElementById('first_name').innerHTML = profile_data.firstName;
					document.getElementById('last_name').innerHTML = profile_data.lastName;
					document.getElementById('email').innerHTML = profile_data.email;
					document.getElementById('affiliation').innerHTML = profile_data.affiliation;
					document.getElementById('interests').innerHTML = profile_data.interests;
					document.getElementById('birthday').innerHTML = profile_data.birthday;
					document.getElementById('status').innerHTML = profile_data.status;
					
					var friendFlag = false;
					for (var i = 0; i < friends.length; i++) {
						if (friends[i] === me) {
							friendFlag = true;
						}
					}
					if (friendFlag) {
						$('#not_friends').hide();
					} else {
						$('#already_friends').hide();
					}
				}
			});
		};

		//Post the update first and then actually add the friend to prevent the update from showing up on each others walls
		function addFriend() {
			var to_add = '<%= username %>';
			var time = new Date();
      		var time_str = time.toString();
      		$.post('/friendsNewsfeedUpdate', {to_add: to_add, time: time_str}, function(data1) {
       			if (data1 == 'Success') {
       				$.post('/addfriend', {to_add: to_add}, function(data) { 
       					if (data == 'Success') {
       						$('#not_friends').hide();
							$('#already_friends').show();
       					}
       				});
       			}
       		});
		};

		function addListeners() {
			//store: wall owner, message, time stamp, poster's username (i.e. person logged in)
			$('#postForm').on('submit', function(e) {
				var time = + new Date();
				var currDate = new Date(time);
				var time_str = currDate.toDateString();
				var wall_owner = '<%= username %>';
				var message = document.forms["postForm"]["new_post"].value;
				if (message == '') {
					document.getElementById('error_msg').innerHTML = "<font color=\"red\">Enter a message first<p></font>";
				} else {
					$.post('/addwallpost', {time: time_str, wall_owner: wall_owner, message: message}, function(data) {
						if (data === 'Success') {
							document.getElementById('new_post').value = '';
							loadPosts();
						}
					});
				}
				
			});
		};

		function loadPosts() {
			var wall_owner = '<%= username %>';
			$.post('/getpostdata', {wall_owner: wall_owner}, function(data) {
				data = JSON.parse(data);
				var html = '';
				for (var i = data.length - 1; i >= 0; i--) {
					var message = data[i].message;
					var poster = data[i].poster;
					var time = data[i].time;
					html = html + '<br><b>'+poster+' Posted:</b><br>'+message+'<br>Time: '+time+'<br>';
				}
				document.getElementById('posts_content').innerHTML = html;
			});
		};

		function unfriend() {
			var target = '<%= username %>';
			$.post('/unfriend', {target: target}, function(data) {
				if (data == 'Success') {
					$('#already_friends').hide();
					$('#not_friends').show();
				}
			});
		};

		var cache = -1;
		function refreshFunction() {
			var wall_owner = '<%= username %>';
			$.post('/getpostdata', {wall_owner: wall_owner}, function(data) {
				data = JSON.parse(data);
				if (data) {
					if (data.length !== cache) {
						loadPosts();
						cache = data.length;
					}
				}
			});
		};

		var refreshTime = function() {
    		refreshFunction();
    		setTimeout(refreshTime, 5000);
    	};
    
    	$(document).ready(function() {
    		setTimeout(refreshTime, 5000);
   		});
		
		window.onload = function() {loadProfile(username); addListeners(); loadPosts(); connectionFunction()}
	</script>
</head>
<body>
	<br>
	<div><font color = 'green'><span id = 'notif'></span></font></div>
	<h1><span id = "user"></span></h1>
	<div>First Name: <span id = "first_name"></span></div>
	<div>Last Name: <span id = "last_name"></span></div>
	<div>Email: <span id = "email"></span></div>
	<div>Affiliation: <span id = "affiliation"></span></div>
	<div>Interests: <span id = "interests"></span></div>
	<div>Birthday: <span id = "birthday"></span></div>
	<div>Status: <span id = "status"></span></div>

	<a href = '/home'>Back to home</a>
	<br>
	<br>
	<div id = 'already_friends'>
		<font color = "green">You are friends!</font>
		<br>
		<form name = 'postForm' id = 'postForm' onsubmit = 'return false'>
			<input type = 'text' name = 'new_post' id = 'new_post' placeholder = 'Enter a new post here!'>
			<input type="submit" value="Post To Wall">
		</form>
		<span id = 'error_msg'></span>
		<br>
		<form name = 'unfriendForm' id = 'unfriendForm' onsubmit = 'unfriend(); return false'>
			<input type = 'submit' value = 'Remove Friend'>
		</form>
	</div>
	<div id = 'not_friends'>
		<form name = 'addFriendForm' id = 'addFriendForm' onsubmit = 'addFriend(); return false'>
			<input type="submit" value="Add Friend">
		</form>
	</div>
	<br>
	<h3>Wall Posts:</h3>
	<span id = "posts_content"></span>
	<div><a href = "/logout">Click here to logout</a></div>
</body>
</html>